@use '../variables' as *;
@use '../mixins' as *;

.container {
  @include flex-layout(
    $justify: center, 
    $align: center, 
    $gap: $spacing-xs
  );

  padding: $spacing-xl 0;
}

.pages {
  display: flex;
  gap: $spacing-xs;
}

.btn {
  @include flex-layout(
    $justify: center, 
    $align: center
  );

  @include typography(
    $size: $font-size-xs, 
    $weight: $font-weight-medium
  );
  
  min-width: 48px;
  height: 28px;
  padding: 0;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  color: $text-light;
  cursor: pointer;
  transition: all $transition-fast;

  &:hover:not(:disabled):not(.btn--active) {
    border-color: $text-color;
    color: $text-color;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--active {
    background-color: var(--primary);
    border-color: var(--primary);
    color: $white;

    &:hover {
      background-color: var(--primary-hover);
      border-color: var(--primary-hover);
    }
  }

  &--nav {
    &:hover:not(:disabled) {
      border-color: $text-color;
    }
  }
}
