@use '../variables' as *;
@use '../mixins' as *;

.list {
  margin-bottom: $spacing-xl;
}

.empty {
  padding: $spacing-xxl $spacing-lg;
  text-align: center;
  margin-right: $spacing-sm;

  @media (min-width: $breakpoint-sm) {
    background: $white;
    border-radius: $border-radius-xl;
    box-shadow: $shadow;
    margin-right: inherit;

    h2 {
      @include typography(
        $size: $font-size-xxl, 
        $weight: $font-weight-semibold, 
        $height: $line-height-xxl, 
        $color: $text-color
      );

      margin-bottom: $spacing-sm;
    }

    p {
      @include typography(
        $size: $font-size-lg, 
        $height: $line-height-lg, 
        $color: $text-light
      );
      
      margin: 0;
    }
  }
}

.illustration {
  position: relative;
  display: inline-block;
}

.blob {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  max-height: 300px;
  color: var(--primary-light);
}

.image {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 450px;
  height: auto;
  mix-blend-mode: darken;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-md;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}
