@use '../variables' as *;
@use '../mixins' as *;

.page {
  padding: $spacing-xl 0;
}

.header {
  @include flex-layout($align: center, $justify: flex-start, $wrap: wrap, $gap: $spacing-lg);
  margin-bottom: $spacing-xl;
}

.count {
  @include typography($size: $font-size-lg, $weight: $font-weight-bold, $height: $line-height-lg, $color: $text-color);
  min-width: 170px;
  margin: 0;
}

.count-skeleton {
  @include skeleton-gradient;
  width: 170px;
  height: $line-height-lg;
  margin: 0;
  border-radius: $border-radius-sm;
}

.error {
  padding: $spacing-xxl;
  color: $error-color;
  text-align: center;

  p {
    @include typography($size: $font-size-lg, $height: $line-height-lg);
  }
}

// Skeleton loading state grid
.skeleton-list {
  margin-bottom: $spacing-xl;
}

.skeleton-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-md;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}
